#navigation {
    background-color: #DADAD9;
    justify-content: center; 
    padding-bottom: 1%;
}

.navigation-element {
    color: #000000;
    font-size: x-large;
    font-weight: 600;
    margin: 0 1vw;
}

a.navigation-element{
    text-decoration: none ;
}



a:hover {
    text-decoration: underline;
    text-decoration-color: #7c606b;
    text-decoration-thickness: 3px;
}